@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200;1,600&family=Lora:ital,wght@0,500;0,600;1,500;1,600&family=Montserrat:wght@300;700&family=Poppins:ital,wght@0,400;0,500;1,600&family=Roboto+Slab:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: aquire;
  src: url(aquire-font/Aquire-BW0ox.otf);
}
@font-face {
  font-family: mono;
  src: url(Monoton1/Monoton-Regular.ttf);
}
/* on-scroll animation */
.hidden {
  opacity: 0;
  filter: blur(4px);
  transform: translateX(-50%);
  transition: all 1.2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* on-scroll animation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  transition: 0.2s ease;
  cursor: url(images/3d-pointer-28.png), default;
}
* h1 {
  text-shadow: 0 2px 0 #01e1ff, 0 3px 0 #026673, 0 4px 0 #026370,
    0 5px 0 #01606c, 0 6px 0 #01606d;
}
/* * h1 {
  text-shadow: 0 -1px 0 #01e1ff,
  0 2px 0 #01e1ff,
  0 4px 0 #01e1ff,
   -2px -2px 15px #0f98a7,
   2px -2px 15px #0f98a7,
   -2px 2px 15px #0f98a7,
   2px 2px 15px #0f98a7;
} */
title {
  font-family: aquire;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1b1729;
}
::-webkit-scrollbar-thumb {
  background: #3ca8e7;
  border-radius: 100vw;
}
html {
  scroll-behavior: smooth;
}
/* nav sec */
header {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.5s ease;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}
.nav-menu {
  float: right;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;
    align-items: center; */
  gap: 40px;
  padding: 14px 0;
  margin: 0;
}
.logo {
  display: inline;
  flex-direction: row;
  text-align: center;
}
.logo .nav-branding {
  font-family: aquire;
  display: inline-block;
  font-size: 1.6rem;
  /* padding: 4px; */
  font-weight: bold;
  background: linear-gradient(to right, rgb(78, 78, 244), rgb(72, 231, 245));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.nav-link {
  font-family: aquire;
  padding: 20px 10px;
  transition: 0.2s ease;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}
.nav-link:hover {
  /* color: black; */
  border-radius: 5px;
}
.nav-item i {
  color: #fff;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 4px;
  background: rgb(25, 198, 198);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.nav-link::before {
  transform: scaleX(0);
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.checkbtn {
  color: aqua;
  font-size: 50px;
  float: right;
  /* line-height: 50px; */
  /* margin-top: 10px; */
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #3cd3e7;
}

@media (max-width: 990px) {
  .logo .nav-branding {
    display: block;
  }
  .checkbtn {
    display: block;
    margin: 8px 0;
    align-items: flex-end;
  }
  .checkbtn.active .bar:nth-child(2) {
    opacity: 0;
  }
  .checkbtn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .checkbtn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #check:checked ~ .nav-menu {
    left: 0;
  }

  .nav-branding {
    font-size: 1.8rem;
    margin: 12px;
  }
  .navbar {
    min-height: 28px;
    padding: 12px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 54px;
    gap: 0;
    flex-direction: column;
    background-color: #181524;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
  }
  #check:checked ~ .nav-menu {
    left: 0;
  }
  .nav-item {
    margin: 14px 0;
  }
  .nav-menu:checked .nav-link:active {
    left: -100%;
  }
  .nav-link:active ~ .nav-menu {
    left: 0;
  }
}
/* close nav sec */

/* home sec */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  /* -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both; */
}
.home .greet {
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.home .greet h1 {
  font-family: aquire;
  padding: 8px 18px;
  background: linear-gradient(to right, rgb(39, 105, 116), rgb(68, 139, 244));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 25px;
  font-size: 66px;
  font-weight: bold;
}
@media (min-width: 1500px) {
  .home .greet h1 {
    font-size: 90px;
  }
}
.home .greet h3 {
  font-family: aquire;
  padding: 5px 18px;
  /* background: linear-gradient(to right, rgb(1, 179, 210), rgb(0, 99, 247));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  padding-bottom: 12px;
  font-size: 30px;
  font-weight: bold;
}
.home .greet h1:nth-child(1),
.home .greet h1:nth-child(3) {
  font-size: 30px;
  padding: 18px;
}
.home .greet p {
  font-size: 20px;
  padding: 10px 18px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.greet .home-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  /* margin: 10px 18px; */
  border-radius: 10px;
  width: fit-content;
}
.home .greet a {
  font-size: 40px;
  padding-right: 20px;
  transition: 0.3s ease;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #30bbc8;
  }
  50% {
    background: #4052d7;
  }
  100% {
    background: #22929e;
  }
}
@keyframes color-change-3x {
  0% {
    background: #1a575c;
  }
  50% {
    background: #682cff;
  }
  100% {
    background: #063c42;
  }
}
@media (max-width: 990px) {
  .home .greet h3 {
    font-size: 22px;
  }
  .home .greet h1 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .home .greet h3 {
    font-size: 22px;
  }
  .home .greet h1 {
    font-size: 40px;
  }
}

/* end home sec */

/* About sec */
.about {
  background: rgb(13, 12, 32);
  /* height: 100vh; */
  width: 100%;
  display: flex;
  /* padding: 10px 0; */
}
.about .about-me {
  flex: 1 1 450px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 15px;
}
.about .about-me h1 {
  font-family: aquire;
  font-size: 40px;
  font-weight: bold;
  margin: 24px;
  padding: 8px 5px;
  background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-me p {
  font-family: "Poppins", sans-serif;
  text-transform: none;
  gap: 20px;
  font-size: 19px;
  padding: 5px;
  margin: 10px 24px;
  color: rgb(255, 255, 255);
}
@media (min-width: 1560px) {
  .about .about-me p {
    font-size: 25px;
  }
}
.about .about-me h2 {
  width: fit-content;
  font-family: aquire;
  font-size: 32px;
  font-weight: bold;
  margin: 30px 10px;
  background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-me .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me a {
  padding: 12px 24px;
  border-radius: 4px;
  font-family: aquire;
  font-size: 19px;
  border: 2px solid aqua;
  margin: 22px 24px;
  color: rgb(0, 221, 255);
  font-weight: bold;
  transition: 0.3s ease;
}
.about-me a:hover {
  background: aqua;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 50px aqua;
}
.about .img {
  flex: 1 1 450px;
}
.about .img img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #15122257;
}

@media (max-width: 900px) {
  .about {
    flex-wrap: wrap;
  }
  .about .about-me p {
    font-size: 17px;
  }
  .about .about-me p {
    font-size: 18px;
  }
}
/* End About sec */

/* service sec */
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  background: #222;
}
.service h1 {
  width: fit-content;
  font-family: aquire;
  font-size: 45px;
  background: linear-gradient(to right, rgb(81, 81, 227), rgb(24, 220, 238));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 13px;
  padding-bottom: 30px;
}
.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  transition: all 600ms;
  -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.service .contents .card {
  width: 300px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding: 12px 18px;
  margin: 20px;
  overflow: hidden;
  background: #201d35;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  border-radius: 8px;
}
.service .contents .card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 51, 255), rgb(48, 241, 255));
  height: 130%;
  animation: rotBGImg 3s linear infinite;
  transition: all 0.3s linear;
}
.card::after {
  content: "";
  position: absolute;
  background: #201d35;
  inset: 5px;
  border-radius: 15px;
}
@keyframes rotBGImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.service .card:nth-child(2) {
  transition-delay: 200ms;
}
.service .card:nth-child(3) {
  transition-delay: 400ms;
}
.service .card .up-content h2 {
  font-size: 28px;
  padding: 20px 0 15px 0;
  font-family: aquire;
  background: linear-gradient(to right, rgb(1, 68, 255), rgb(2, 232, 253));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}
.service .card .up-content p {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.service .card .up-content .icon {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
}
.service .card .up-content .icon img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.p-lang {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.p-lang h2 {
  font-size: 25px;
  text-transform: capitalize;
}
.p-lang .class {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
}
.p-lang .class p {
  display: inline;
  font-family: aquire;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.p-lang i {
  font-size: 45px;
  padding: 10px 22px;
  transition: all 0.4s ease;
}
.p-lang i:hover {
  transform: scale(1.2);
}

@media (max-width: 920px) {
  .p-lang {
    flex-wrap: wrap;
  }
  .contents {
    flex-wrap: wrap;
  }
  .service .contents .card {
    padding: 14px;
  }
}

/* end service sec */

/* project sec */
.project {
  width: 100%;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project .head h1 {
  font-size: 44px;
  margin: 6px;
  padding: 8px;
  width: fit-content;
  font-family: aquire;
  background: linear-gradient(to right, rgb(40, 40, 219), rgb(29, 185, 199));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project .head a:hover {
  color: black;
  background: aquamarine;
}
.project .content {
  /* max-width: 60vw; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3.5rem 50px;
  border-bottom: 1px solid grey;
}
@media (min-width: 1710px) {
  .project .content {
    max-width: 64vw;
  }
}
.project .content:nth-child(even) {
  flex-direction: row-reverse;
}
.project .content .img {
  flex: 1 1 400px;
  /* height: 350px; */
  width: 350px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.project .content .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.project .content:hover .img img {
  transform: scale(1.02);
}
.project .content .detail {
  flex: 1 1 400px;
  text-align: start;
  padding: 8px 21px;
  /* background: #01433f; */
  /* box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.2); */
}
.project .content .detail h2 {
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  font-family: aquire;
  /* border-bottom: 3px solid rgb(15, 201, 139); */
  color: aquamarine;
  background: linear-gradient(to right, rgb(3, 81, 248), rgb(7, 187, 203));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project .content .detail p {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  margin: 5px;
  padding: 5px;
  word-spacing: 3px;
}

.project .content .detail .links i {
  padding: 7px;
  margin: 5px auto;
  font-size: 35px;
  color: rgb(5, 97, 97);
  transition: all 0.3s ease;
}
.project .content .detail i:hover {
  transform: scale(1.1);
}
.project .content .detail .tech h3 {
  font-size: 17px;
  margin: 6px;
  padding: 6px;
  /* width: fit-content; */
  font-family: aquire;
  /* border-bottom: 3px solid rgb(34, 207, 178); */
  background: linear-gradient(to right, rgb(0, 62, 248), rgb(7, 198, 215));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project .content .detail .tech .techi {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: 4px;
}
.project .content .detail .tech .techi i {
  margin: 5px;
  font-size: 30px;
  transition: 0.4s ease;
}
@media (max-width: 990px) {
  .project .head h1 {
    font-size: 35px;
  }
  .project .content {
    margin: 30px 20px;
  }
  .project .content .detail {
    padding: 10px 4px;
  }
  .project .content .detail p {
    font-size: 17px;
  }
}
/* end project sec */

/* contact sec */
.contact {
  background: #222;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media(min-width: 1700px){
  .contact .row{
    max-width: 85vw;
  }
}
.contact-left {
  padding-left: 21px;
  flex: 1 1 300px;
}
.contact-right {
  flex: 1 1 500px;
}
.contact-left h1 {
  font-size: 39px;
  margin: 10px 0;
  padding: 15px 0;
  width: fit-content;
  font-family: aquire;
  background: linear-gradient(to right, rgb(57, 57, 218), rgb(24, 220, 238));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left h2 {
  font-size: 30px;
  margin: 10px 0;
  padding: 15px 0;
  width: fit-content;
  font-family: aquire;
  color: rgb(5, 252, 252);
}
.c-info {
  display: flex;
  align-items: center;
}
.contact-left p {
  font-size: 17px;
  color: white;
  margin: 14px 0;
}
.contact-left .c-info i {
  color: aqua;
  margin-right: 8px;
  font-size: 20px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a i {
  font-size: 35px;
  margin-right: 15px;
  color: aqua;
  display: inline-block;
  transition: all 0.4s ease;
}
.social-icons i:hover {
  transform: scale(1.12);
}
.contact-left .bxs-up-arrow-square {
  color: aqua;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}
.contact-left .bxs-up-arrow-square:hover {
  transform: scale(1.1);
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 93%;
  border: 0;
  outline: none;
  background: rgba(1, 1, 1, 0.4);
  padding: 15px;
  margin: 10px 0 10px 10px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}
form button {
  width: 93%;
  border: 0;
  outline: none;
  border: 2px solid rgb(1, 223, 252);
  padding: 15px 30px;
  margin: 10px;
  background: transparent;
  color: aqua;
  font-size: 20px;
  border-radius: 4px;
  font-family: aquire;
  transition: 0.4s ease;
}
form button:hover {
  background: aqua;
  color: black;
  box-shadow: 0 0 60px aqua;
}
form button:active {
  background: rgb(11, 109, 109);
  color: black;
  box-shadow: 0 0 60px aqua;
}
#msg {
  color: aqua;
  margin-top: -40px;
  padding: 0 15px;
  font-size: 20px;
}
/* end contact sec */

/* copy right */
.copy {
  width: 100%;
  padding: 7px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.copy p {
  font-size: 18px;
  padding: 0 5px;
  font-family: aquire;
  color: #3ca8e7;
}
@media (max-width: 990px) {
  .copy p {
    font-size: 12px;
  }
}
@media (max-width: 490px) {
  .contact-left h1 {
    font-size: 35px;
  }
}
/* end copy right */
